<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="btn-group hidden-xs" id="toolbar" role="group">
	        <button class="btn btn-outline btn-default" onclick="$.operate.add()" shiro:hasPermission="signManger:workTime:add">
	            <i class="fa fa-plus"></i> 新增
	        </button>
	        <button class="btn btn-outline btn-default" onclick="$.operate.batRemove()" shiro:hasPermission="signManger:workTime:remove">
	            <i class="fa fa-trash-o"></i> 删除
	        </button>
        </div>
        <table id="bootstrap-table" data-mobile-responsive="true">
        </table>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permissionService.hasPermi('signManger:workTime:edit')}]];
        var removeFlag = [[${@permissionService.hasPermi('signManger:workTime:remove')}]];
        var prefix = ctx + "signManger/workTime"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "上下班时间",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'ondutyTime', 
					title : '上班时间' 
				},
				{
					field : 'offdutyTime', 
					title : '下班时间' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.worktimeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.worktimeId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>